.attraction {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.attraction__title {
  margin-bottom: 31px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.attraction__label {
  position: relative;
  display: block;
  margin-bottom: 54px;
  padding-left: 77px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: #000000;

  &:last-child {
    margin-bottom: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -1px;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.attraction__input {
  display: none;

  &:checked {
    & + .attraction__label::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 15px;
      width: 23px;
      height: 16px;
      background-image: url("../img/icon-tick.svg");
    }
  }

  &:active {
    & + .attraction__label::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .attraction {
    width: 100%;
    padding: 0;
    border: none;
  }

  .attraction__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .attraction__title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 56px;
    font-size: 21px;
  }

  .attraction__label {
    width: 50%;
    margin-bottom: 62px;
    padding-left: 110px;

    &::before {
      top: -16px;
      left: 29px;
    }
  }

  .attraction__input {
    display: none;

    &:checked {
      & + .attraction__label::after {
        top: 4px;
        left: 47px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .attraction__wrapper {
    width: 100%;
    justify-content: space-between;
  }

  .attraction__title {
    width: 30%;
  }

  .attraction__label {
    width: 20%;
    text-align: right;
    padding-left: 0;

    &[for="park"] {
      padding-right: 14px;
    }

    &::before {
      left: 1px;
    }
  }

  .attraction__input {
    display: none;

    &:checked {
      & + .attraction__label::after {
        left: 19px;
      }
    }
  }

  .attraction__label[for="rock"] {
    &::before {
      left: -14px;
    }
  }

  .attraction__input[id="rock"] {
    &:checked {
      & + .attraction__label::after {
        left: 5px;
      }
    }
  }
}
