.attraction {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.attraction__title {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.attraction__input {
  display: none;
}

.attraction__label {
  display: block;
  margin-bottom: 45px;
  padding-left: 70px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .attraction {
    width: 100%;
    margin-bottom: 5px;
    padding: 0;
    border: none;
  }

  .attraction__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
  }

  .attraction__title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 55px;
    font-size: 21px;
  }

  .attraction__label {
    width: 48%;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .attraction {
    margin-bottom: 3px;
  }

  .attraction__wrapper {
    margin-left: 0;
  }

  .attraction__title {
    width: 30%;
  }

  .attraction__label {
    width: 24%;
  }
}
