.attraction {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.attraction__title {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.attraction__input {
  display: none;
}

.attraction__label {
  display: block;
  margin-bottom: 45px;
  padding-left: 70px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: black;
}
