.contacts {
  padding: 0 20px 16px 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.contacts__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.contacts__label {
  position: relative;
  padding-left: 20px;
  line-height: 26px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 29px;
    left: 220px;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-image: url("../img/icon-phone.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &[for="email"] {
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }
}

.contacts__input {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 12px;
  padding: 18px 20px 14px 20px;
  border: none;
  background-color: $bg-grey;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;

  &::placeholder {
    color: #000000;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: transparent;
    outline: 4px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 100%;
    margin-top: 46px;
    margin-bottom: 31px;
    padding: 0;
    border: none;
  }

  .contacts__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 21px;
    letter-spacing: 0.3px;
  }

  .contacts__input {
    margin-bottom: 22px;
    padding: 16px 21px;
  }

  .contacts__label {
    padding-left: 22px;

    &::after {
      left: 590px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
    margin-bottom: 54px;
  }

  .contacts__container {
    display: flex;
  }

  .contacts__title {
    margin-bottom: 73px;
  }

  .contacts__wrapper {
    margin-right: 0;
    display: flex;
    align-items: center;
    width: 50%;
  }

  .contacts__label {
    padding-left: 0;
    padding-right: 15px;
    margin: 0;

    &::after {
      top: -16px;
      left: 342px;
    }

    &[for="email"] {
      &::after {
        left: 422px;
      }
    }
  }

  .contacts__input {
    width: 66%;
    margin: 0;

    &:nth-child(2n) {
      padding-left: 22px;
    }
  }

  .contacts__hidden {
    display: none;
  }
}
