.contacts {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.contacts__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.contacts__label {
  margin-bottom: 20px;
  padding-left: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.contacts__input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 20px;
  border: none;
  background-color: $bg-grey;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 800;
    color: #000000;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 38px;
    padding: 0;
    border: none;
  }

  .contacts__title {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-top: 48px;
    margin-bottom: 34px;
  }

  .contacts__title {
    margin-bottom: 64px;
  }

  .contacts__label {
    padding-left: 0;
    padding-right: 15px;
  }

  .contacts__input {
    width: 30%;
  }

  .contacts__hidden {
    display: none;
  }
}
