.effect {
  padding: 0 20px;
  border: none;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.effect__title {
  margin-bottom: 38px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.effect__label {
  position: relative;
  display: block;
  margin-bottom: 43px;
  padding-left: 78px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: #000000;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -1px;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: #f2f2f2;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.effect__input {
  display: none;

  &:checked {
    & + .effect__label::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 15px;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: #000000;
    }
  }

  &:active {
    & + .effect__label::after {
      background-color: #a4a4a4;
    }
  }

  &:disabled {
    & + .effect__label::before {
      background-color: #d5d5d5;
    }
  }
}

@media (min-width: $tablet-width) {
  .effect {
    width: 50%;
    order: -1;
    padding: 0;
    border: none;
  }

  .effect__title {
    margin-top: 0;
    margin-bottom: 74px;
    font-size: 21px;
    text-align: left;
  }

  .effect__label {
    margin-bottom: 52px;
    padding-left: 75px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .effect__title {
    margin-left: 80px;
    margin-bottom: 73px;
  }

  .effect__label {
    padding-left: 78px;

    &::before {
      top: -15px;
      left: 4px;
    }
  }

  .effect__input {
    &:checked {
      & + .effect__label::after {
        top: 1px;
        left: 20px;
      }
    }
  }
}
