.feedback {
  text-align: center;
}

.feedback__title {
  margin-bottom: 35px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.feedback__info {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .feedback__title {
    margin-bottom: 30px;
    padding: 0 60px;
    font-size: 30px;
    letter-spacing: 0.4px;
  }

  .feedback__info {
    margin-bottom: 74px;
    padding: 0 140px;
    line-height: 24px;
  }

  .feedback__form {
    padding: 0 60px;
    padding-bottom: 62px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__info {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .feedback__form {
    padding: 0 120px;
    padding-bottom: 68px;
  }
}
