.form {
  padding-bottom: 39px;
}

.form__button {
  margin: 0 auto;
  padding-bottom: 17px;
  padding-right: 18px;
  width: 87.5%;
  border: none;
}

.form__required {
  display: none;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__fieldset {
    margin: 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .form__button {
    width: 50%;
    margin: 0;
    padding-right: 26px;
  }

  .form__required {
    display: block;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 35px;
  }

  .form__button {
    padding-top: 15px;
    padding-right: 16px;
  }
}
