.form {
  padding-bottom: 42px;
}

.form__button {
  margin: 0 auto;
  width: 87.5%;
}

.form__required {
  display: none;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__fieldset {
    margin: 0;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2px;
  }

  .form__button {
    width: 50%;
    margin: 0;
  }

  .form__required {
    display: block;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-bottom: 35px;
  }
}
