.name {
  padding: 1px 20px;
  border: none;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  text-align: left;
}

.name__title {
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.name__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 22px;
  }
}

.name__label {
  margin-right: 13px;
  line-height: 26px;
  text-transform: uppercase;
}

.name__input {
  width: 100%;
  padding: 16.5px 22px;
  border: none;
  background-color: $bg-grey;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;

  &::placeholder {
    color: #000000;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: transparent;
    outline: 4px solid #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .name {
    width: 50%;
    border: none;
    border-left: 1px solid $border-color;
    padding: 0;
    padding-left: 57px;
  }

  .name__title {
    margin-top: 0;
    margin-bottom: 56px;
    text-align: left;
    font-size: 21px;
  }

  .name__input {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .name {
    padding-left: 80px;
  }
}
