.button {
  margin: 0 auto;
  &--blue {
    display: block;
    padding: 15px 45px;
    font-size: 21px;
    font-weight: 800;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    color: $link-color;
    background-color: $bg-blue;
  }
}
