.htmlacademy-link {
  margin-left: 7px;
  text-transform: uppercase;
  text-decoration: none;
  color: $text-color;

  &:hover .htmlacademy-link__img,
  &:focus .htmlacademy-link__img {
    fill: #88b6d1;
  }

  &:active .htmlacademy-link__img {
    fill: rgba(#000000, 0.3);
  }
}

.htmlacademy-link__text {
  line-height: 36px;
  letter-spacing: 0.5px;
  vertical-align: top;
}

.htmlacademy-link__img {
  width: 40px;
  fill: #000000;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .htmlacademy-link {
    margin-left: 14px;
    margin-right: -8px;
  }
}
