.intro {
  margin-bottom: 45px;
  padding: 85px 20px;
  text-align: center;
  background: url("../img/bg-intro-triangle-mobile.svg") bottom center/105% no-repeat,
    url("../img/bg-back-mobile@1x.jpg") no-repeat;

  &--form,
  &--photo {
    padding: 50px 20px 70px 20px;
    background: url("../img/bg-intro-triangle-mobile.svg") bottom center/105% no-repeat,
      url("../img/bg-back-mobile@1x.jpg") bottom no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 75px 20px 95px 20px;
    background: url("../img/bg-intro-triangle-mobile.svg") bottom center/105% no-repeat,
      url("../img/bg-back-tablet@1x.jpg") no-repeat;

    &--form,
    &--photo {
      margin-bottom: 76px;
      padding: 90px 60px 115px 60px;
    }
  }

  .intro__image {
    width: 460px;
  }
}

@media (min-width: $desktop-width) {
  .intro {

    &--form,
    &--photo {
      margin-bottom: 113px;
      padding: 100px 60px 115px 60px;
    }
  }
}
