.intro {
  margin-bottom: 42px;
  padding: 90px 20px 82px 20px;
  text-align: center;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom center;
  background-size: 105%, cover;
  background-repeat: no-repeat;
  background-color: $bg-intro;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
  }

  &--form,
  &--photo {
    margin-bottom: 39px;
    padding: 51px 20px 64px 20px;
    background-size: 105%, auto;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    padding: 78px 20px 88px 20px;
    margin-bottom: 50px;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-size: 100%, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
    }

    &--form,
    &--photo {
      margin-bottom: 74px;
      padding: 94px 60px 113px 60px;

      & .intro__image {
        width: auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-bottom: 49px;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-size: 100%, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
    }

    &--form,
    &--photo {
      padding: 102px 20px 116px 20px;
      margin-bottom: 111px;
    }
  }
}
