.page-footer {
  padding: 40px 20px 20px 20px;
  text-align: center;
}

.page-footer__call {
  margin: 0;
  margin-bottom: 40px;
}

.page-footer__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer__social {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px 20px 60px;
  }

  .page-footer__call {
    margin: 0;
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 40px 120px 20px 120px;
  }

  .page-footer__call {
    margin-top: 3px;
  }
}
