.page-footer {
  padding: 33px 20px 20px 20px;
  text-align: center;
  background-color: $bg-white;
}

.page-footer__call {
  margin: 0;
  margin-bottom: 35px;
}

.page-footer__link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer__social {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 60px;
  }

  .page-footer__call {
    margin: 0;
    padding-right: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 32px 120px;
  }

  .page-footer__call {
    padding-right: 18px;
  }
}
