.page-header__wrapper {
  position: relative;
  padding-bottom: 15px;
  text-align: right;
  background-color: $bg-white;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 102px / 2);
}

.page-header__toggle {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-top: 16px;
  margin-right: 19px;
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding-bottom: 0;
  }

  .page-header__logo {
    top: -56px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    transform: scale(1.8);
    top: -34px;
  }
}
