.site-list__link {
  display: block;
  padding: 18px 0;
  font-size: 18px;
  font-weight: 700;
  background-color: $bg-blue;
  color: $link-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
  }

  .site-list__item {
    width: 20%;
  }

  .site-list__item:nth-child(2) {
    margin-right: auto;
  }

  .site-list__link {
    padding: 15px 0;
    font-size: 14px;
    line-height: 26px;
    background-color: transparent;
    color: $text-color;
  }
}
