.site-list__link {
  display: block;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 700;
  background-color: $bg-blue;
  color: $link-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
