.page-header {
  position: relative;
  padding: 28px 0;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: calc(50% - 102px / 2);
}

.main-nav__list {
  position: relative;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__toggle {
  position: absolute;
  top: 0px;
  right: 0;
}

.site-list__link {
  display: block;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 700;
  background-color: $bg-blue;
  color: $link-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
