$link-color: white;
$bg-blue: rgba(#81b3d2, 1);
$bg-grey: #eeeeee;
$text-color: #333333;
$border-color: #e5e5e5;

@import 'normalize';

@import 'page-header';
@import 'intro';

@import 'index/promo';
@import 'index/reason-block';
@import 'index/advantages';
@import 'index/reasons-list';
@import 'index/booking';

@import 'page-footer';
@import 'social';
@import 'htmlacademy-link';

// form.html
@import 'form/form';
@import 'form/feedback';
@import 'form/name';
@import 'form/contacts';
@import 'form/effect';
@import 'form/attraction';
@import 'form/emotion';

// photo.html
@import 'photo/media';

html {
  box-sizing: border-box;
}

// * {outline: 1px dashed red}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Trebuchet MS", sans-serif;
  font-size: 14px;
  color: $text-color;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
