.advantages {
  margin: 0;
  padding: 36px 20px;
  list-style: none;
  text-align: left;
}

.advantages__item {
  padding-left: 50px;

  &--second {
    br {
      display: none;
    }
  }

  &--third {
    br {
      display: none;
    }
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages__descriptions {
  margin: 0;
  margin-bottom: 29px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__item:last-child .advantages__descriptions {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    display: flex;
    justify-content: space-around;
    padding: 62px 0;
    text-align: center;
  }

  .advantages__item {
    width: calc(100% / 3);
    padding: 98px 45px;
    padding-bottom: 0;

    &--second {
      padding: 98px 20px;
      padding-bottom: 0;

      br {
        display: inline;
      }
    }

    &--third {
      order: 1;
      padding: 98px 36px 0 36px;
    }
  }

  .advantages__title {
    margin-bottom: 20px;
    font-size: 21px;
  }

  .advantages__descriptions {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding: 65px 0 83px 0;
  }

  .advantages__item {
    padding: 96px 55px 0 55px;

    &--third {
      br {
        display: inline;
      }
    }
  }
}
