.booking {
  padding: 28px 20px 50px 20px;
  text-align: center;
}

.booking__title {
  margin: 0;
  margin-bottom: 19px;
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
}

.booking__info {
  margin: 0;
  margin-bottom: 36px;
  line-height: 24px;
  text-transform: uppercase;

  br {
    display: none;
  }
}

.booking__button {
  padding-left: 24px;
}

@media (min-width: $tablet-width) {
  .booking {
    padding: 51px 20px 58px 20px;
  }

  .booking__title {
    margin-bottom: 25px;
    font-size: 30px;
  }

  .booking__info {
    width: 65%;
    margin: 0 auto;
    margin-bottom: 43px;

    br {
      display: inline;
    }
  }

  .booking__button {
    width: 63%;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .booking {
    padding-top: 53px;
    padding-bottom: 67px;
  }

  .booking__info {
    width: 50%;
    margin-bottom: 48px;
  }

  .booking__button {
    width: 39.5%;
  }
}
