.booking {
  padding: 30px 20px 50px 20px;
  text-align: center;
}

.booking__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.booking__info {
  margin: 0;
  margin-bottom: 40px;
  line-height: 24px;
  text-transform: uppercase;
}

.button--blue {
  display: block;
  padding: 15px 45px;
  font-size: 21px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: $link-color;
  background-color: $bg-blue;
}
