.promo {
  text-align: center;
}

.promo__title {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.promo__bottom-reasons {
  padding: 0 20px;
}
