.promo {
  text-align: center;
}

.promo__title {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 27px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.promo__bottom-reasons {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .promo__title {
    width: 75%;
    margin-bottom: 28px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 21px;
  }

  .promo__subtitle {
    margin-bottom: 50px;
    letter-spacing: 0.07px;
    padding: 0 60px;
  }

  .promo__wrapper {
    background-color: #c9cbba;

    &--real {
      background-image: url("../img/main-city-tablet@1x.jpg");
      background-position: right;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-tablet@2x.jpg");
        background-size: 512px auto;
      }
    }

    &--devil {
      background-image: url("../img/main-bridge-tablet@1x.jpg");
      background-position: left;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-tablet@2x.jpg");
        background-size: 512px auto;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    width: 50%;
  }

  .promo__wrapper {
    &--real {
      background-image: url("../img/main-city-desktop@1x.jpg");
      background-position: right;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-city-desktop@2x.jpg");
        background-size: 800px auto;
      }
    }

    &--devil {
      background-image: url("../img/main-bridge-desktop@1x.jpg");
      background-position: left;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/main-bridge-desktop@2x.jpg");
        background-size: 800px auto;
      }
    }
  }
}
