.reasons-list {
  margin: 0;
  list-style: none;
  background-color: $bg-grey;
}

.reasons-list__item {
  padding: 28px 15px 27px 15px;
  border-bottom: 1px solid #e5e5e5;

  &--third {
    padding: 28px 15px 28px 15px;
    border: none;

    br {
      display: none;
    }
  }
}

.reasons-list__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons-list__order {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 100px;
    width: 9px;
    height: 2px;
    background-color: $text-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 141px;
    width: 9px;
    height: 2px;
    background-color: $text-color;
  }
}

.reasons-list__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reasons-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .reasons-list__item {
    width: calc(100% / 3);
    padding: 46px 40px;
    border: none;

    &--second {
      padding: 46px 55px;

      & .reasons-list__order {
        &::before {
          top: 11px;
          left: 48px;
        }

        &::after {
          top: 11px;
          left: 90px;
        }
      }
    }

    &--third {
      br {
        display: inline;
      }
    }
  }

  .reasons-list__title {
    margin-bottom: 8px;
    font-size: 21px;
  }

  .reasons-list__order {
    margin-bottom: 21px;

    &::before {
      top: 11px;
      left: 64px;
    }

    &::after {
      top: 11px;
      left: 105px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reasons-list__item {
    padding: 46px 40px 65px 40px;

    &--second {
      padding: 46px 60px;

      & .reasons-list__order {
        &::before {
          left: 115px;
        }

        &::after {
          left: 156px;
        }
      }
    }
  }

  .reasons-list__title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 21px;
  }

  .reasons-list__order {
    margin-bottom: 21px;

    &::before {
      top: 10px;
      left: 134px;
    }

    &::after {
      top: 10px;
      left: 175px;
    }
  }
}
