.reason-block {
  padding: 40px 20px;
  padding-bottom: 300px;
  color: white;

  &--real {
    padding-top: 55px;
    background: url("../img/bg-triangle.svg") 0 -20px no-repeat,
      url("../img/main-city-mobile@1x.jpg") 0 214px no-repeat,
      $bg-blue;
  }

  &--devil {
    background: url("../img/main-bridge-mobile@1x.jpg") 0 200px no-repeat,
      $bg-blue;
  }
}

.reason-block__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.reason-block__order {
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
  text-transform: uppercase;
}

.reason-block__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reason-block {
    padding: 45px 45px;
    background: none;
    background-color: $bg-blue;

    &--real {
      padding-right: 72%;
    }

    &--devil {
      padding-left: 72%;
    }
  }

  .reason-block__title {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .reason-block {
    padding: 53px 65px 58px 65px;
    background: none;
    background-color: $bg-blue;

    &--real {
      padding-right: 72%;
    }

    &--devil {
      padding-left: 72%;
    }
  }

  .reason-block__title {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 21px;
  }

  .reason-block__order {
    margin-bottom: 20px;
  }
}
