.reasons-list {
  margin: 0;
  list-style: none;
  background-color: $bg-grey;
}

.reasons-list__item {
  padding: 30px 15px;
}

.reasons-list__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons-list__order {
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
  text-transform: uppercase;
}

.reasons-list__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}
