.reason-block {
  padding: 40px 20px;
  padding-bottom: 300px;
  color: white;

  &--real {
    padding-top: 58px;
    background-color: $bg-blue;
    background-image: url("../img/bg-triangle.svg"), url("../img/main-city-tablet@1x.jpg");
    background-position: center -20px, center bottom;
    background-size: 102%, auto 55.5%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-triangle.svg"), url("../img/main-city-tablet@2x.jpg");
    }
  }

  &--devil {
    padding-bottom: 298px;
    background-color: $bg-blue;
    background-image: url("../img/main-bridge-tablet@1x.jpg");
    background-position: center bottom;
    background-size: auto 58%;
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }

    br {
      display: none;
    }
  }
}

.reason-block__title {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.reason-block__order {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 115px;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 156px;
    width: 9px;
    height: 2px;
    background-color: #ffffff;
  }
}

.reason-block__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reason-block {
    padding: 45px 45px;
    background: none;
    background-color: $bg-blue;

    &--real {
      width: 33.3%;
    }

    &--devil {
      width: 33.3%;
      margin-left: auto;

      br {
        display: inline;
      }

      & .reason-block__description {
        br {
          display: none;
        }
      }
    }
  }

  .reason-block__title {
    font-size: 21px;
  }

  .reason-block__order {
    margin-bottom: 21px;

    &::before {
      left: 57px;
    }

    &::after {
      left: 98px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reason-block {
    padding: 53px 65px 58px 65px;

    &--devil {
      padding: 53px 75px 58px 75px;

      & .reason-block__description {
        br {
          display: inline;
        }
      }

      & .reason-block__order {
        &::before {
          top: 9px;
          left: 100px;
        }

        &::after {
          top: 9px;
          left: 141px;
        }
      }
    }
  }

  .reason-block__title {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 21px;
  }

  .reason-block__order {
    margin-bottom: 20px;

    &::before {
      top: 8px;
      left: 109px;
    }

    &::after {
      top: 8px;
      left: 150px;
    }
  }
}
