.reasons-list {
  margin: 0;
  list-style: none;
  background-color: $bg-grey;
}

.reasons-list__item {
  padding: 28px 15px;

  &--third {
    br {
      display: none;
    }
  }
}

.reasons-list__title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  text-transform: uppercase;
}

.reasons-list__order {
  margin: 0;
  margin-bottom: 15px;
  line-height: 21px;
  text-transform: uppercase;
}

.reasons-list__description {
  margin: 0;
  line-height: 21px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .reasons-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

  .reasons-list__item {
    width: calc(100% / 3);
    padding: 46px 40px;

    &--second {
      padding: 46px 55px;
    }

    &--third {
      br {
        display: inline;
      }
    }
  }

  .reasons-list__title {
    margin-bottom: 8px;
    font-size: 21px;
  }

  .reasons-list__order {
    margin-bottom: 21px;
  }
}

@media (min-width: $desktop-width) {
  .reasons-list__item {
    padding: 46px 40px 65px 40px;

    &--second {
      padding: 46px 60px;
    }
  }

  .reasons-list__title {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 21px;
  }

  .reasons-list__order {
    margin-bottom: 21px;
  }
}
